.indice {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 14vw;
  flex-direction: row;
  align-items: center;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.botones {
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 20px;
}
