



.houses_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    img{
        height: 200px;
        width: auto;
        margin: 20px 15px 0 20px;
    }
    h3{
        font-size: 11px;
        color: white;
        margin-top: 15px;
    }
}